{{ $ := .root }}
{{ $page := .page }}
{{ $teach_len := len (where $.Site.RegularPages "Type" "course") }}

<!-- Talks widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $teach_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ ($.Site.GetPage "section" "course").RelPermalink }}">
        {{ i18n "more_courses" | markdownify }}
        <i class="fas fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ $.Scratch.Set "courses" (where $.Site.RegularPages "Type" "course") }}

    {{/* Exclude talks shown in Featured Talks widget? */}}
  
    {{ range first $page.Params.count (sort ($.Scratch.Get "courses") ".Params.time_start" "desc") }}
      {{ if eq $page.Params.list_format 1 }}
        {{ partial "talk_li_detailed" . }}
      {{ else if eq $page.Params.list_format 2 }}
        {{ partial "talk_li_stream" . }}
      {{ else }}
        {{ partial "talk_li_simple" . }}
      {{ end }}
    {{ end }}
  </div>
</div>